@import '../../../scss//utils.scss';
@import '../../../scss//animations.scss';

.root {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}

.textContent {
  @include scalableRule(padding-left, 32);
}

.projectsList {
  display: flex;
  align-items: center;
  overflow: auto;
  @include scalableRule(padding-left, 50);
  @include scalableRule(margin-top, 30);

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.projectCardWrapper {
  @include scalableRule(padding-left, 20);
  @include scalableRule(padding-right, 20);
}

.projectCard {
  background-color: #FFF;
  background-size: cover;
  display: flex;
  @include scalableRule(border-radius, 8);
  @include scalableRule(padding, 20);
  @include scalableRule(width, 215);
  @include scalableRule(height, 215);
  position: relative;
}

.projectName {
  font-weight: bold;
  font-family: 'Equip';
  color: #fff;
  @include scalableRule(font-size, 20);
  position: relative;
  z-index: 1;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  @include scalableRule(border-radius, 8);
}

:global(.animated) {

  .textContent {
    @include animated(slideInLeft, 0.5s);
  }

  .projectsList {
    @include animated(fadeIn, 0.8s);
  }
  
  .projectCardWrapper:nth-child(1) {
    @include animated(slideRight, 0.8s);
  }
  .projectCardWrapper:nth-child(2) {
    @include animated(slideRight, 0.9s);
  }
  .projectCardWrapper:nth-child(3) {
    @include animated(slideRight, 1s);
  }
  .projectCardWrapper:nth-child(4) {
    @include animated(slideRight, 1.1s);
  }
}