@import '../../../scss//utils.scss';
@import '../../../scss//animations.scss';

.root {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}

.textContent {
  @include scalableRule(padding-left, 32);
}

.scrollWrapper {
  @include scalableRule(margin-top, 30);
  position: relative;

  &::before, &::after {
    content: ' ';
    background: rgba(255, 240, 236, 0.6);
    height: calc(100% + 50px);
    width: 82px;
    position: absolute;
    z-index: 1;
    filter: blur(14px);
    top: -25px;
    pointer-events: none;
  }

  &::before {
   left: -30px; 
  }

  &::after {
    right: -30px;
  }

  
}

.controls {
  @media screen and (max-width: 768px) {
    display: none;
  }

  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  > div {
    font-size: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
    background: rgba(114, 50, 249, 0.4);
    color: #FFF0EC;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      background: rgba(114, 50, 249, 0.8);
    }
  }

  .previous {
    left: 15px;
  }

  .next {
    right: 15px;
  }
}

.projectsList {
  display: flex;
  align-items: center;
  overflow: auto;
  @include scalableRule(padding-left, 50);

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.projectCardWrapper {
  @include scalableRule(padding-left, 20);
  @include scalableRule(padding-right, 20);

  .projectCard {
    background-color: #000;
    color: #FFF;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include scalableRule(border-radius, 8);
    @include scalableRule(padding, 20);
    @include scalableRule(width, 215);
    @include scalableRule(height, 215);
    position: relative;
  }
  &:first-child {
    @include scalableRule(padding-left, 50);
  }

  &:last-child {
    @include scalableRule(padding-right, 100);
  }
}

.projectName,
.projectTags {
  position: relative;
  z-index: 1;
}

.projectName {
  font-weight: bold;
  font-family: 'Equip';
  @include scalableRule(font-size, 20);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  @include scalableRule(border-radius, 8);
}

:global(.animated) {

  .textContent {
    @include animated(slideInLeft, 0.5s);
  }

  .projectsList {
    @include animated(fadeIn, 0.8s);
  }
  
  @for $i from 1 through 4 {
    .projectCardWrapper:nth-child(#{$i}) {
      @include animated(slideInRight, 0.8s + $i * 0.15);
    }
  }
}