@import '../../../scss//utils.scss';

.root {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  @include scalableRule(padding-left, 32);

  .subTitle {
    @include scalableRule(padding-top, 12);
    @include scalableRule(padding-bottom, 12);
    
  }
  
  .links {
    display: flex;
    align-items: center;
    @include scalableRule(font-size, 32);
    @include scalableRule(margin-top, 8);
  }

  .linkWrapper {
    @include scalableRule(margin-left, 6);
    @include scalableRule(margin-right, 6);

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }

    > a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      transition: 0.2s;
      @include scalableRule(padding, 6);
      @include scalableRule(border-radius, 3);

      &:hover {
        background-color: #fff;
      }
    }

    
  }

  .buttonWrapper {
    display: inline-flex;
    margin-top: scalableValue(24, $vw-multiplier-mobile);
  }

  .button {
    font-family: 'Equip';
    font-weight: bold;
    border-style: solid;
    text-decoration: none;
    color: inherit;
    @include scalableRule(border-width, 3);
    @include scalableRule(border-radius, 8);
    @include scalableRule(font-size, 16);
    @include scalableRule(padding, 16);
    transition: 0.2s;
    
    &:hover {
      background-color: #fff;
    }
  }
}