@import '../../../scss//utils.scss';
@import '../../../scss//animations.scss';

.root {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  @include scalableRule(padding-left, 32);
}

.subTitle {
  @include scalableRule(padding-top, 12);
  @include scalableRule(padding-bottom, 12);
  
}

.socialLinksWrapper {
  @include scalableRule(margin-top, 8);
}

.buttonWrapper {
  display: inline-flex;
  @include scalableRule(margin-top, 20);
}

.button {
  font-family: 'Equip';
  font-weight: bold;
  border-style: solid;
  text-decoration: none;
  color: inherit;
  @include scalableRule(border-width, 3);
  @include scalableRule(border-radius, 8);
  @include scalableRule(font-size, 16);
  @include scalableRule(padding, 16);
  transition: 0.2s;
  
  &:hover {
    background-color: #fff;
  }
}

:global(.animated) {
  
  .title {
    @include animated(slideInLeft, 0.6s);
  }

  .subTitle {
    @include animated(slideInLeft, 1.2s);
  }

  .socialLinksWrapper {
    @for $i from 1 through 4 {
      li:nth-child(#{$i}) {
        @include animated(slideInUp, 1.6s + $i * 0.05);
      }
    }
  }

  .button {
    @include animated(slideInUp, 1.65s);
  }
}