@import '../../../scss/utils.scss';
@import '../../../scss/animations.scss';

.root {
  @include scalableRule(padding-left, 32); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.text {
  @include scalableRule(margin-top, 20);
}

.socialLinksWrapper {
  @include scalableRule(margin-top, 20);
}

.contactsList {
  @include scalableRule(margin-top, 16);
}

.contactWrapper {
  @include scalableRule(margin-bottom, 16);

  > a {
    display: flex;
    align-items: center;
    
    &:hover {
      text-decoration: underline;
    }
  }
}

.icon {
  @include scalableRule(margin-right, 14);
  @include scalableRule(font-size, 20);
}

:global(.animated) {
  .title {
    @include animated(slideInDown, 0.5s);
  }

  .text {
    @include animated(slideInUp, 0.5s);
  }

  .socialLinksWrapper {
    @for $i from 1 through 4 {
      li:nth-child(#{$i}) {
        @include animated(zoomIn, 0.5s + $i * 0.05);
      }
    }
  }

  @for $i from 1 through 2 {
    .contactWrapper:nth-child(#{$i}) {
      @include animated(slideInLeft, 0.5s + $i * 0.2);
    }
  }
}