@import '../../scss//utils.scss';

.root {
  display: flex;
  align-items: center;
  @include scalableRule(font-size, 24);

}

.linkWrapper {
  @include scalableRule(margin-left, 9);
  @include scalableRule(margin-right, 9);

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  > a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    background-color: #f95c32;
    color: #FFF;
    @include scalableRule(width, 35);
    @include scalableRule(height, 35);
    @include scalableRule(border-radius, 3);

    &:hover {
      background-color: #fff;
      color: inherit;
    }
  }
}