@import '../../../scss//utils.scss';
@import '../../../scss//animations.scss';

.root {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  @include scalableRule(padding-left, 32); 
}

.content {
  @include scalableRule(margin-top, 12);
}

:global(.animated) {
  .title {
    @include animated(slideInDown, 0.5s);
  }

  .content {
    @include animated(slideInUp, 0.8s);
  }
}