* {
  transition: all 0.5s ease;
}
.intro {
  display: flex;
  align-items: center;  
}

.profileImageRoot {
  width: 150px;
  border-radius: 50%;
  height: 150px;
  background: #6283ab;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: self-end;
  overflow: hidden;
}

.profileImageRoot > img {
  height: 90%;
}

.introText {
  padding-left: 10px;
  line-height: 1.2;
}